
<div class="card text-center" style="margin-top: 100px">
  <div class="card-header">
    ERR_FOUND
  </div>
  <div class="card-body">
    <h5 class="card-title">{{url}}</h5>
    <p class="card-text">Something Went Wrong.</p>
    <a href="/" class="btn btn-primary">Go Back to Home Page</a>
  </div>
</div>