
* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
body{
    width: 100%;
    background-color: #bbb5c3;
}
.non-footer {
    min-height: 500px !important;
    margin-top: 100px;
    margin-bottom: 40px;
}
.not-found{
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
}